
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* Base Styling */
*{
  margin: 0;
  font-family:'Questrial', sans-serif;
  color: #333;
}

.navbar {
  padding: 5px;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover {
  color: darkgray;
}

